{% extends 'base.html' %}

{% block title %}Forgot Password{% endblock %}

{% block content %}
<div class="profile-container">
    <div class="profile-header">
        <h3>Forgot Password</h3>
    </div>
                <div class="card-body">
                    <form method="POST" action="{{ url_for('main.forgot_password') }}">
                        <div class="mb-3">
                            <label for="email" class="form-control-label">Email:</label>
                            <br>
                            <input type="email" id="email" name="email" class="form-control form-control-lg" required>
                        </div>
                        <button type="submit" class="btn btn-primary w-100 btn-outline-info">Submit</button>
                    </form>
                </div>
                <div class="card-footer text-center">
                    <a href="{{ url_for('main.login') }}">Remembered? Log in here!</a>
                </div>
            </div>
        </div>
    </div>
    </div>
</div>

<script src="{{ url_for('static', filename='script.js') }}"></script>

<style>
    body {
        justify-content: center;
        margin: 0;
        padding: 0;
        background-image: linear-gradient(rgba(0, 0, 0, 0.6), rgba(0, 0, 0, 0.6)), url('{{ url_for('static', filename='Images/5066999.jpg') }}');
        background-size: cover;
        background-position: center;
        background-attachment: fixed;
        color: #fff;
    }

    .profile-container {
        text-align: center;
        padding: 30px;
        background-color: rgba(36, 37, 42, 0.9);
        border-radius: 20px;
        margin: 20px auto;
        width: 80%;
        margin-top: 255px;
        max-width: 400px; /* Added max-width */
        box-shadow: 0 4px 8px rgba(0, 0, 0, 0.9);
    }

    .profile-header {
        margin-bottom: 40px;
    }

    .profile-header img {
        width: 100px;
        border-radius: 50%;
    }

    form {
        margin-top: 20px; /* Added space before the form */
    }

    form div {
        margin: 10px 0;
    }
    .form-control {
        border: none;
        border-radius: 5px;
        padding: 10px;
        background-color: #333;
        color: #fff;
        width: 100%;
        box-shadow: inset 0 1px 3px rgba(0, 0, 0, 0.2);
    }

    .quiz-section {
        margin-top: 20px;
        background-color: rgba(23, 25, 33, 0.8);
        border-radius: 20px;
        padding: 20px;
    }

    .quiz-section h3 {
        margin-top: 0;
    }

    .footer {
        text-align: center;
        margin-top: 20px;
        font-size: 0.8em;
    }
</style>
{% endblock content %}

